<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596677869118-68u3kjsbogj5iapj5sbgo6bj6uctlc3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596677869118-68u3kjsbogj5iapj5sbgo6bj6uctlc3f</string>
	<key>API_KEY</key>
	<string>AIzaSyA8sqA1dRtwZXq6B9O77ZgPd7Eo0d68aDI</string>
	<key>GCM_SENDER_ID</key>
	<string>596677869118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reso</string>
	<key>PROJECT_ID</key>
	<string>reso-20ef7</string>
	<key>STORAGE_BUCKET</key>
	<string>reso-20ef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596677869118:ios:3c384fc458088cd760db6f</string>
</dict>
</plist>